<!DOCTYPE html>
<html>
    <head>
        [[ @append "layout/head" ]]
    </head>
    <body>
        
        [[ @append "layout/nav" ]]

        <section class="hero is-large is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Wise - Start templating wisely
                    </h1>
                    <h2 class="subtitle">
                        View our project at [!SiteURL]!
                    </h2>
                </div>
            </div>
        </section>
            
        <div class="container">
            <h1>Hello!</h1>
        </div>
    </body>
</html>